{% extends "blog/base.html" %}
{% block content %}
	<h1>About "Course Review"</h1>
	<br>
	<p>Course Review is a web application through which 
	student can review a course as well as share their 
	experience about the course and the course coordinator.</p>
	<br>
	<p>
	The objectives of this project is to provide a helping hand to the students who would like 
	to prepare well in advance for their respective courses which they look forward to take in 
	their upcoming semester. This will also help students to manage their time as they will have 
	prior knowledge about the various activities that course coordinator organizes throughout
    the course.
	</p>
	<br>
	<br>
	<br>
	<p>
		Developed and Mangaged By: <a href="https://github.com/rsingh16mi539">Reetesh Singh</a>
	</p>
	<p>
		Contact email: singhreetesh911@gmail.com
	</p>

{% endblock content %}
