{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png">
        <div class="media-body">
          <a class="mr-2" href="{% url 'user-posts' user.username %}"><h2 class="account-heading">{{ user.username }}</h2></a>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          <!-- {{ p_form|crispy }} -->
        </fieldset> 
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>    
      </form>
    </div>
{% endblock content %}
